.STYLE0 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:   x-large;
    text-align:  center;
}
.STYLE1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:   medium; //small;
}
.STYLE2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size:   medium; //small;
    list-style-type: circle;
}
.STYLE3{
    font-family: Arial;
    //color: #666699;
    font-size: x-small;
}
.STYLE4{
   min-width:373px;
   max-width:800px;
   width="95%"
}
.STYLE5{
    font-size:x-large; 
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center; 
    width:100%; 
    max-width:800px
}
.STYLE6 {
    font-size:x-large;
    width:180px;
}
.STYLE7 {
    font-size:x-large;
    width:220px;
}
.STYLE8 {
    font-size:x-large;
    width:20px;
}

/* #wrap {
  width:100%;
  position: center;
} */

#Animationdiv {
  float:center;
  height: 550px;
  width: 100%;
  /*width: 850px;*/
  /* background-color: powderblue; */
  display: inline-block;
}

#Legenddiv {
  position: relative;
  /* background-color: red; */
  width:100%;
  /* height:100%; */
  display: inline-block;
  overflow-y: hidden;
  overflow-x: hidden;
}
#svg2 {
       display: block;
       width: 100%;
       height: 100%;
       /* height: auto; */
     }

button.hov:hover {
    text-decoration: underline;
   /* text-decoration-color: white;*/
}


svg {
    display: block;
    margin: auto;
/*    border: 1px solid black; */
}

.axis path,
/*
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
*/

.line {
  fill: none;
  stroke-width: 2px;
}
